<form [formGroup]="myForm" (ngSubmit)="login()">
  <div *ngIf="myForm.errors" class="alert alert-danger">
    Username or password invalid
  </div>
  <div formGroupName="account">
    <div class="form-group">
      <label for="username">Username</label>
      <input formControlName="username"
             id="username"
             type="text"
             class="form-control">
      <div *ngIf="username.pending">Checking for unique...</div><!--Pending returns true if at least one async validator is in progress-->
      <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
        <div *ngIf="username.errors.required">Username is required!!</div>
        <div *ngIf="username.errors.minlength">Username should be minimum {{ username.errors.minlength.requiredLength}} chars</div>
        <div *ngIf="username.errors.cannotContainsSpace">Username cannot contain space</div>
        <div *ngIf="username.errors.shouldBeUnique">Username must be unique</div>

      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input formControlName="password"
             id="password"
             type="text"
             class="form-control">
    </div>

  </div>
    
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
