<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <bootstrap-panel>
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
      <h2>Body</h2>
      <p>Some Content here...</p>
    </div>
  </bootstrap-panel>

  <h1>
    Welcome to {{ title }}!
  </h1>
 </div>
<img [src]="imageUrl" />
<button (click)="onClick()">Click</button>
<favorite [isFavorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorite>
<ul>
  <courses></courses>
</ul>

<ul>
  <authors></authors>
</ul>





